{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/account.css') }}">
{% endblock %}

{% block body %}
    <h1>Manage Your Account {{ app.user.firstName }}</h1>

<div class="container">
    <div class="row user-menu-container square">
        <div class="col-md-12 user-details">
            <div class="row spacepurplebg white">
                <div class="col-md-2 no-pad">
                    <div class="user-image">
                        <img src="https://robohash.org/{{ app.user.email }}" class="img-responsive thumbnail">
                    </div>
                </div>
                <div class="col-md-10 no-pad">
                    <div class="user-pad">
                        <h3>Welcome back, {{ app.user.firstName }}</h3>
                        <a class="btn btn-labeled btn-info" href="#">
                            <span class="btn-label"><i class="fa fa-pencil"></i></span>Update
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <ul>
                    <li>Change Password</li>
                    <li>Change Email</li>
                    <li><a href="{{ path('subcampaign_change', {'id': app.user.id}) }}">" Change User Subcampaign</li>
                    <li>Delete Account</li>
                </ul>
            </div>

        </div>
    </div>
</div>
{% endblock %}

