{% extends 'base.html.twig' %}

{% block body %}

<div class="conntaier-fluid class text-center">
    <h1>List of Units</h1>
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Unit</th>
                <th>Unit Number</th>
                <th>Unit Type</th>
                <th>Force</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for unit in units %}
                    <tr>
                        <td> {{ unit.id }} </td>
                        <td> <a href= "{{ path('unit_show', {'id': unit.id}) }}">{{ unit.unit}}</td>
                        <td> {{ unit.unitno }} </td>
                        <td> {{ unit.unittype.unittype }} </td>
                        <td> {{ unit.Forces.Forcename }} </td>
                        <td> {{ unit.StartDate|date('d/m/Y') }} </td>
                        <td> {{ unit.EndDate|date('d/m/Y') }} </td>
                        <td> {{ unit.Description}} </td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>

{% endblock %}
